<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 'WebDriversPath' and 'ScreenshotsFolder' point to the subfolders within the project tree. When you want to enter a full path in here, please change code. -->
    <add key="WebDriversPath" value="WebDrivers" />
    <add key="ScreenshotsFolder" value="Screenshots" />
    <!-- 'UseBrowserArray': set to 'true' to use the browsers mentioned in WebDriverBrowserArray, 'false' to use 'WebDriverBrowserSingle'
         This property can be useful when testing a single Selenium script for properly functioning within this project. -->
    <add key="UseBrowserArray" value="true" />
    <!--
    WebDriverBrowser values are:
    - Firefox
    - Chrome
    - InternetExplorer
    - Safari
    - PhantomJS <default uses PhantomJS as headless browser>
    -->
    <add key="WebDriverBrowserSingle" value="InternetExplorer" />
    <add key="WebDriverBrowserArray" value="Chrome,Firefox,InternetExplorer" />
  </appSettings>
</configuration>
